<div class="row">
  <div class="col-8 offset-2">
    <br>
    <h1 class="text-light text-center">deliverApp</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-2">
    <div class="jumbotron mt-4">
      <h2 class="text-center">404: Not Found
        <br>
        <br>
        <span class="h1" role="img" aria-label="Face with rolling eyes">🙄</span>
      </h2>
      <br>
      <div class="text-center">
        <a class="button clear btn btn-danger font-weight-bold" href="/">Start Over</a>
      </div>
    </div>
  </div>
</div>