<!-- BOOTSTRAP ROW -->

<div class="row">

    <!-- MAIN COLUMN -->

    <div class="col-8 offset-2">

        <!-- LOGO -->

        <br>
        <h1 class="text-light text-center">deliverApp</h1>
        <br>

        <!-- INSTRUCTIONS -->

        <h3 class="text-light text-center">Muestra este QR a tu repartidor</h3>

        <br>

    </div>

    <!-- QR CONTAINER -->

    <div class="col-12 text-center">
        <img id="qrElement" width="300" height="300" src="">
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/login/bundle.js"></script>

<script>
//    $("#login").click(function () {
//        var userinfo = 1;
//        localStorage.clear();
//        localStorage.setItem('deliveringUserId', JSON.stringify(userinfo));
//    });
</script>