<!-- BOOTSTRAP ROW -->
<div class="row">
    <!-- MAIN COLUMN -->
    <div class="col-8 offset-2">
        <!-- LOGO -->
        <br>
        <h1 class="text-light text-center">deliverApp</h1>
        <br>
        <div align="center">

            <h2 style="color:#2bc73b;" class="text-center">Success!</h2>
            <h4>Thank you!</h4>
        </div>

    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>