<!-- BOOTSTRAP ROW -->
<div class="row">
    <!-- MAIN COLUMN -->
    <div class="col-8 offset-2">
        <!-- LOGO -->
        <br>
        <h1 class="text-light text-center">deliverApp</h1>
        <br>

        <h2 class="text-light text-center">Success! <span role="img" aria-label="Party popper">🎉</span></h2>
        <br>
        <h3 class="text-light text-center">Your delivery has been completed</h3>
    </div>

</div>

<br>

<div class="row">
    <div class="col-8 offset-2">


        <div class="text-center">
            <a class="button clear btn btn-danger font-weight-bold" href="/">Start Over</a>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>